%script{:src => "/assets/jquery-ui-1.8.18.custom.min.js", :type => "text/javascript"}
%script{:src => "/assets/jquery.ui.datepicker.js", :type => "text/javascript"}
%script{:src => "/assets/jquery.ui.datepicker-zh-CN.js", :type => "text/javascript"}
%link{:href => "/assets/jquery-ui-1.8.18.custom.css", :rel => "stylesheet", :type => "text/css"}/


:javascript
  jQuery(document).ready(function(){
    $('.date-field').datepicker({
        showSecond: true,
        changeMonth: true,
        changeYear: true,
        timeFormat: 'hh:mm:ss',
        dateFormat: 'yy-mm-dd'
    });
  });
  
  // 上传附件
  jQuery('.multiple').live('click', function(){
    var current_name = $(this).attr("name");

    jQuery(this).html5Uploader({
      // name: "problem_report_attachement[attachement]",
      name: current_name,
      postUrl: '/problem_reports/upload_attachement',
      onSuccess: function(e, file, data){
        $(this).replaceWith("<input type='file' class='multiple' name='attachement[attachement]' />");

        var attachements = '<input type="text" name="attachements[]" value="' + data + '" value="">';
        $('#report-attachements').append(attachements);
      }
    });

  })

= form_for @problem_report do |f|
  %p
    问题类型
    = select ("problem_report", "problem_type_id", @problem_types.map {|u| [u.name,u.id]}, {:prompt => '请选择类型'}, {:onchange => "window.location.href='/problem_reports/new?problem_type_id=' + this[this.selectedIndex].value;"})
  
  - unless params[:problem_type_id].blank?
  
    %p
      %textarea{:id => "", :name => "problem_report[content]", :style => "width: 380px; height: 100px;"}
    
    
    - unless @problem_fields.blank?
      %ul
        - @problem_fields.each do |field|
          %li
            = field.name
            %p
              #report-attachements{:style => "display: none;"}
              #dropbox
              
              %input{:type=>'hidden',:value => field.id, :name=>"problem_report[problem_field_data_attributes][#{field.id}][problem_field_id]"}
  
              - case field.field_type
                - when 'text-field'
                  %input{:type=>'text', :name=>"problem_report[problem_field_data_attributes][#{field.id}][content]"}
                
                - when 'textarea-field'
                  %textarea{:name => "problem_report[problem_field_data_attributes][#{field.id}][content]", :style => "width: 200px; height: 50px;"}
                    
                - when 'select-field'
                  %select{:name => "problem_report[problem_field_data_attributes][#{field.id}][content]"}
                    - field.problem_field_types.each do |type|
                      %option{:value => "#{type.title}"} #{type.title}
                 
                - when 'date-field'
                  %input{:type=>'text', :class => 'date-field', :name=>"problem_report[problem_field_data_attributes][#{field.id}][content]"}
                  
                - when 'file-field'
                  %input.multiple{:multiple => "", :type => "file", :name => "attachement[attachement]"}/
                    
  
          
    .field
      %a.form-submit-button{:href=>'javascript:;'} 发送
    

  %p
    我提过的意见
    %ul
      - unless @reports.blank?
        - @reports.each do |report|
          %li
            %p 
              = report.content
            %p 
              = report.created_at
          
          %p
            - unless report.admin_reply.blank?
              %p
                管理员回复
              = report.admin_reply
      