:javascript
  // 上传附件
  jQuery('.multiple').live('click', function(){
    var current_name = $(this).attr("name");

    jQuery("#dropbox, .multiple").html5Uploader({
      // name: "problem_report_attachement[attachement]",
      name: current_name,
      postUrl: '/problem_reports/upload_attachement',
      onSuccess: function(e, file, data){
        $(this).replaceWith("<input type='file' class='multiple' name='attachement[attachement]' />");

        var attachements = '<input type="text" name="attachements[]" value="' + data + '" value="">';
        $('#report-attachements').append(attachements);
      }
    });

  })

= form_for @problem_report do |f|
  %p
    问题类型
    = select ("problem_report", "problem_type_id", @problem_types.map {|u| [u.name,u.id]})
  %p
    %textarea{:id => "", :name => "problem_report[content]", :style => "width: 380px; height: 100px;"}
  %p 
    问题附件
    #report-attachements{:style => "display: none;"}
    #dropbox
    %div{:id => "report-attachement-fields"}
      %input.multiple{:multiple => "", :type => "file", :name => "attachement0[attachement]"}/
      %input.multiple{:multiple => "", :type => "file", :name => "attachement1[attachement]"}/
      %input.multiple{:multiple => "", :type => "file", :name => "attachement2[attachement]"}/
        
  .field
    %a.form-submit-button{:href=>'javascript:;'} 发送
    

  %p
    我提过的意见
    %ul
      - unless @reports.blank?
        - @reports.each do |report|
          %li
            %p 
              = report.content
            %p 
              = report.created_at
          
          %p
            - unless report.admin_reply.blank?
              %p
                管理员回复
              = report.admin_reply
      