:javascript
  // 删除表单
  jQuery('a.delete').live('click', function(){
    $(this).parent().remove();
  })
  
  // 增加表单
  jQuery('#add-problem-field').live('click', function(){
    var type = $(this).attr('class');
    
    switch(type)
    {
      case 'file-field':
        var title = '上传文件';
        break;
      case 'date-field':
        var title = '日期框';
        break;
      case 'textarea-field':
        var title = '内容框';
        break;
      default:
        var title = '文本框';
        break;
    }
    
    var field = title + '<input type="text" name="problem_fields[' + type + ']"  />';
    
    var field_type = '<input type="hidden" value="' + type + '" name="field_types[]" />';
    var remove_button = '<a href="javascript:" class="delete">X</a>';
    $('#problem-fields').append("<li>" + field + field_type + remove_button + "</li>");
  })
  
  // 增加下拉表单
  jQuery('#add-select-field').live('click', function(){
    var type = $(this).attr('class');
    var field = '下拉菜单标题 <input type="text" name="problem_fields[' + type + ']"  />';
    field = field + '<a href="javascript:" class="add-select-option">添加下拉选项</a>';
    var field_type = '<input type="hidden" value="' + type + '" name="field_types[]" />';
    var remove_button = '<a href="javascript:" class="delete">X</a>';
    $('#problem-fields').append("<li>" + field + field_type + remove_button + "</li>");
  })
  
  // 增加下拉表单选项
  jQuery('.add-select-option').live('click', function(){
    var field = '选项 <input type="text" name="select_options[]"  />';
    var remove_button = '<a href="javascript:" class="delete">X</a>';
    $('#problem-fields').append("<li>" + field  + remove_button + "</li>");
  })
  

%p
  = link_to '导出数据', '' 

%ul
  - unless @problem_fields.blank?
    - @problem_fields.each do |field|
      %li 
        = field.name
        = link_to '删除', field, :confirm => '确定删除?', :method => :delete

.page-new
  = flash.now[:error]

= form_for @problem_field, :url => { :action => "create" }, :html => {:class => "assign_form", :multipart => true} do |f|

  %p
    = select("problem_field", "problem_type_id", ProblemType.all.collect {|p| [ p.name, p.id ] }, {:prompt => '请选择类型'})
  %p
    %a#add-problem-field{:href => "javascript:", :class => 'text-field'} 
      增加文本框+
    %a#add-problem-field{:href => "javascript:", :class => 'textarea-field'} 
      增加内容框+
    %a#add-problem-field{:href => "javascript:", :class => 'date-field'}
      增加日期框+
    %a#add-select-field{:href => "javascript:", :class => 'select-field'} 
      增加下拉框+
    %a#add-problem-field{:href => "javascript:", :class => 'file-field'} 
      增加文件上传+
  
  %ul#problem-fields
    %li 字段列表
    
  = f.submit "确定保存"
  
