<%= form_for(@problem_type) do |f| %>
  <% if @problem_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@problem_type.errors.count, "error") %> prohibited this problem_type from being saved:</h2>

      <ul>
      <% @problem_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :creator_id %><br />
    <%= f.text_field :creator_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
