-# MINDPIN 工程原型Layout

:ruby
  tstr = ((yield :title) || '').gsub("\n",'')
  title = tstr.blank? ? '问题反馈板原型' : "#{tstr} - 问题反馈板原型"

!!! 5
%html{:lang=>'zh'}
  %head
    %meta{:charset=>'utf-8'}
    %title=title
    = csrf_meta_tags
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application', 'jquery.html5uploader'
    = yield :css
    = yield :head

  %body.echo.gray
    .page-wrap
      .page-container
        .page-header
          .h
            .title
              %a{:href=>'/'} MINDPIN TEAM AGILE PLAYGROUND
            -if logged_in?
              .user
                .current-user 欢迎你，#{current_user.name}
                .current-user-avatar=avatar current_user,:tiny
                .logout=link_to '登出','/logout'
        .page-content
          = yield

    = javascript_include_tag 'application'
    = yield :javascript